.centered {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 5rem;
}

#interactive {
  position: relative;
  display: flex;
  justify-content: center;
}

#interactive video,
.drawingBuffer {
  position: absolute;
  left: 30%;
}

canvas {
  width: 640px;
  height: 480px;
}
